
body {
  background-image: url("spices.png");
  background-color: #cccccc;
  background-size: cover;
}

body, html {
  margin: 0;
  display: relative;
  padding: 0;
}

header {
  text-align: center;
  top: 0;
  background-color: bisque;
  color: #a52a2a;
  height: 7%;
  width: 100%;
  padding-bottom: 0%;
}

.topnav #name {
  font-size: 40px;
  color: #a52a2a;
  float: left;
  padding-left: 3%;
  display: block;
}

.topnav #links {
  font-size: 20px;
  color: #a52a2a;
  float: right;
  padding: 1%;
  display: block;
}


a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover{ text-decoration: none; 
background-color: #cccccc;}
a:active { text-decoration: none; }



body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Geneva, Verdana, sans-serif;
}

footer {
  text-align: center;
  background-color: bisque;
  color: #a52a2a;
  height: 10%;
  width: 100%;
}



img {
  display: block;
  width: 40%;
  max-width: 100%;
}

h1 {
  color: beige;
  background-color: #a52a2a;
  font-size: 22px;
  padding-left: 3%;
}

#story {
  background-color: rgb(165, 42, 42, 0.9);
  font-size: medium;
  display: block;
  padding: 2%;
}

.container {
  display: flex;
  justify-content: center;
  padding: 2%;
}

.column {
  justify-content: center;
  padding: 2%;
  align-items: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2%;
}